# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
    - master
  paths:
    exclude:
    - README.md
    - avr-binutils-size.patch

pr:
  branches:
    include:
    - master
    - develop
  paths:
    exclude:
    - README.md
    - avr-binutils-size.patch

variables:
  HOMEBREW_NO_ANALYTICS: 1
  HOMEBREW_NO_AUTO_UPDATE: 1

jobs:
- job: audit_test_build
  displayName: "Audit, Build & Test on macOS 10.14"
  condition: eq(variables['Build.Reason'], 'PullRequest')
  pool:
    vmImage: macOS-10.14
  steps:
    - bash: |
        echo "I'm being run on a pull request"
      displayName: Test condition

- job: audit_test_build_2
  displayName: "Audit, Build & Test on macOS 10.14"
  condition: or(eq(variables['Build.Reason'], 'IndividualCI'), eq(variables['Build.Reason'], 'Manual'), eq(variables['Build.Reason'], 'Schedule'))
  pool:
    vmImage: macOS-10.14
  steps:
    - bash: |
        echo "I'm being run on a manual, individual or scheduled"
      displayName: Test condition

