# File: azure-pipelines.yml

trigger:
  branches:
    include:
    - master


pr:
  branches:
    include:
    - master
    - develop
  paths:
    exclude:
    - README.md
  #   - .azure-ci/*
  #   - azure-pipelines.yml


schedules:
- cron: "0 */6 * * *"
  displayName: Daily 4-times-a-day build
  branches:
    include:
      - master
  always: true


variables:

  - group: bintray
  - group: ssh
  - group: github

  - name: brew_tap_path
    value: /usr/local/Homebrew/Library/Taps

  - name: brew_test_bot_repo
    value: osx-cross/homebrew-test-bot
  - name: brew_test_bot_repo_is_for_dev
    value: true

  # Github variables
  - name: github_user_name
    value: osx-cross Test Bot
  - name: github_user
    value: osx-cross
  - name: github_email
    value: osx-crossTestBot@leka.io
  - name: github_token
    value: $(github.token)
  - name: github_tap_repo
    value: homebrew-avr

  # Bintray variables
  - name: bintray_org
    value: osx-cross
  - name: bintray_repo
    value: avr
  - name: bintray_root_url # computed, do not change
    value: https://dl.bintray.com/$(bintray_org)/bottles-$(bintray_repo)

  - name: ssh_hostname
    value: $(ssh.hostname)
  - name: ssh_public_key
    value: $(ssh.public_key)
  - name: ssh_passphrase
    value: $(ssh.passphrase)
  - name: ssh_secure_file
    value: $(ssh.secure_file)

  - name: homebrew_bintray_user
    value: $(bintray.user)
  - name: homebrew_bintray_key
    value: $(bintray.key)

  - name: UPSTREAM_GIT_URL
    value: $(Build.Repository.Uri)
  - name: UPSTREAM_PULL_REQUEST
    value: $(System.PullRequest.PullRequestNumber)


stages:

  # Stage 1 - Testing formulae on master
  - template: /.azure-ci/stages/stage-test-formulae.yml

  # Stage 2 - Cron job to test formulae
  - template: /.azure-ci/stages/stage-scheduled-test.yml

  # Stage 3 - Building bottles on PR
  - template: /.azure-ci/stages/stage-build-bottles.yml

  # Stage 4 - Uploading bottles to Bintray
  - template: /.azure-ci/stages/stage-upload-bottles.yml

  # Stage 5 - Auto pull/publish revision bumps
  - template: /.azure-ci/stages/stage-pull-revision-bump.yml
